.coinItem {
  justify-content: space-around;
}
.coinItem:hover {
  transform: none;
}

.coinItem__logo {
  display: block;
  height: 6vh;
}

.coinItem__header {
  font-size: 2rem;
  letter-spacing: 1px;
}

.coinItem__price {
  font-size: 1rem;
}
