.coinItem {
  justify-content: space-around;
  cursor: pointer;
  width: 150px;
}

.coinItem__logo {
  height: 6vh;
}

.coinItem__header {
  font-size: 2rem;
  letter-spacing: 1px;
}

.coinItem__price {
  font-size: 1.3rem;
}

.coinItem:hover {
  transform: scale(1.1);
}
