.modal {
  &__content {
    position: fixed;
    margin: 0;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    height: 90vh;
    width: 90vw;
    max-width: none;
    z-index: 1;
    border-radius: 10px;
  }

  &__background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__btn {
    position: absolute;
    bottom: 5%;
  }
}
