@import '/src/variables.scss';

.ReactModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  background-color: $bg-main-color;
  box-shadow: $box-shadow-properties;
  border: none;
  overflow: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
